
<div class="container">
  <img src="https://img.freepik.com/iconos-gratis/billete-avion_318-84036.jpg"/>
  <h1 class="display-1 text-bold">
    <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">
            Descubre tu proximo viaje
        </font>
    </font>
  </h1>
  <h5 class="text-gray-soft text-regular">
    <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">
            Te buscamos la ruta mas obtima hasta tu destino </font>
        </font>
  </h5>
  <div class="row container mt-4">
    <div class="row">
      <app-button
        textValue="Empezar aqui"
        (onSubmit)="goToFlightPage()"
      ></app-button>
    </div>
  </div>
</div>
