<div class="card">
    <div class="card-header">
      {{ headerTitle }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ journey.origin }} - {{ journey.destination }}</h5>
      <p class="card-text text-danger">Precio: {{ journey.price | currency: currencySelected }}</p>
      <hr>

      <div *ngFor="let flight of journey.flights">
        <p class="card-text" >Origen: {{ flight.origin }}</p>
        <p class="card-text" >Destino: {{ flight.destination }}</p>
        <p class="card-text" >Precio: {{ flight.price | currency: currencySelected }}</p>
        <hr>
      </div>

      <p class="card-text text-error">Todos nuestros destinos y vuelos son garantizados</p>
    </div>
  </div>
